<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>Add Customer</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Add Customer
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                
                <table class="table table-bordered ">
                
                
                	 <tr class="#{!firstName.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="firstName" for="firstName" />
                        </td>
                        <td>
                            <h:inputText id="firstName" value="#{addCustomer.customer.firstName}" 
                            title="firstName" required="true" 
                            requiredMessage="Please enter the first name!" 
                            pt:placeholder="Mike"/>
                        	<br/>
                            <h:message for="firstName" class="#{!firstName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!lastName.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="lastName" for="lastName" />
                        </td>
                        <td>
                            <h:inputText id="lastName" value="#{addCustomer.customer.lastName}" 
                            title="lastName" required="true" 
                            requiredMessage="Please enter the last name!" 
                            pt:placeholder="Lu"/>
                        	<br/>
                            <h:message for="lastName" class="#{!lastName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>
                    
                    
                    <tr class="#{!streetNumber.valid ? 'has-error' : 'none'}">
                        <td width ="200">
                            <h:outputLabel value="streetNumber" for="streetNumber" />
                        </td>
                        <td>
                            <h:inputText id="streetNumber" value="#{addCustomer.customer.address.streetNumber}" 
                            	title="streetNumber" required="true" 
                           		requiredMessage="Please enter the street number!" 
                            	validatorMessage="Please enter a street number between 1 and 1000" 
                            	converterMessage="Please enter a number" pt:placeholder="900" >
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="1" maximum="1000" />
							</h:inputText>
                            <br/>
                            <h:message for="streetNumber" 
                            class="#{!streetNumber.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>
                
                   <tr class="#{!streetAddress.valid ? 'has-error' : 'none'}">
                    	<td>
                    		<h:outputLabel value="streetAddress" for="streetAddress" />
                    	</td>
                    	<td>
                    		<h:inputText id="streetAddress" value="#{addCustomer.customer.address.streetAddress}"
                    			title="streetAddress" required="true"
                    			requiredMessage="Please enter the street address!"
                    			pt:placeholder="Dandenong Rd" />
                    		<br/>
                    		<h:message for="streetAddress"
                    			class="#{!streetAddress.valid ? 'label label-warning' : 'none'}" />
                    	</td>
                    </tr>
                  

                    
                    <tr class="#{!suburb.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="suburb" for="suburb" />
                        </td>
                        <td>
                            <h:inputText id="suburb" value="#{addCustomer.customer.address.suburb}" 
                            title="suburb" required="true" 
                            requiredMessage="Please enter the suburb!" 
                            pt:placeholder="Caulfield East"/>
                        	<br/>
                            <h:message for="suburb" class="#{!suburb.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!state.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="state" for="state"/>
                        </td>
                        <td>
                            <h:inputText id="state" value="#{addCustomer.customer.address.state}" 
                            title="state" size="3" required="true" 
                            requiredMessage="Please enter the state!" pt:placeholder="VIC"/>
                            <br/>
                            <h:message for="state" class="#{!state.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!postcode.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="postcode" for="postcode" />
                        </td>
                        <td>
                            <h:inputText id="postcode" value="#{addCustomer.customer.address.postcode}" 
                            title="postcode" required="true" 
                            requiredMessage="Please enter the postcode!" 
                            validatorMessage="Please enter a postcode between 0200 and 4700" 
                            converterMessage="Please enter a number" pt:placeholder="3145">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="200" maximum="4700" /> 
							</h:inputText>
							<br/>
							<h:message for="postcode" class="#{!postcode.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
          
                    
                    
                    
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addCustomer.addCustomer()}" class="btn btn-primary" >
                </h:commandButton>
                <h:button value="Close" outcome="index" class="btn btn-primary">
            	</h:button>
            	<h:messages />
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>

