<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>Add Contact</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Add Contact
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                
                <table class="table table-bordered ">
                
                	 <tr>
							<td width="200"><h:outputLabel value="Customer ID" for="ID" /></td>
							<td><h:outputText id="ID"
									value="#{addContactPerson.customerid}" title="ID" /></td>
						</tr>
						
						<tr>
							<td width="200"><h:outputLabel value="Email" for="name" /></td>
							<td><h:inputText id="name"
									value="#{addContactPerson.contactPerson.name}" title="Name" />
								<h:message for="name " style="color: red" /></td>


						</tr>
                
              
                    

                    <tr class="#{!contactPhone.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="contactPhone" for="contactPhone" />
                        </td>
                        <td>
                            <h:inputText id="contactPhone" value="#{addContactPerson.contactPerson.phoneNumber}" 
                            title="contactPhone" required="true" 
                            requiredMessage="Please enter the contact phone number!" 
                            pt:placeholder="498153627"/>
                        	<br/>
                            <h:message for="contactPhone" class="#{!contactPhone.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>


                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addContactPerson.addContactPerson()}" class="btn btn-primary" >
                </h:commandButton>
                
                <h:link id="close" value="Close" outcome="faces/detail.xhtml"
						class="btn btn-primary">
						<f:param name="customerIndex"
							value="#{addContactPerson.customerid}" />

					</h:link>
					
            
            	
            </h:form>
            <h:messages style="color: red" />
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>
