<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:s="http://xmlns.jcp.org/jsf/core">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>Contact Detail</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">Contact Details</div>
		</div>
		

		<h:form id="MyForm">
			<table class="table table-bordered ">
				<tr>
					<td width="150" valign="top">Id:</td>

					<td valign="bottom"><h:outputLabel id="Id">#{addContactPerson.contactPerson.conactPersonId}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">Contact Name:</td>

					<td valign="bottom"><h:outputLabel id="contactName">#{addContactPerson.contactPerson.name}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">Contact Phone:</td>

					<td valign="bottom"><h:outputLabel id="contactPhone">#{addContactPerson.contactPerson.phoneNumber}</h:outputLabel>
					</td>
				</tr>
				
			</table>

			  
			
			<h:link id="close" value="Close" outcome="faces/detail.xhtml"
				class="btn btn-primary" >
			<f:param name="customerIndex"
							value="#{addContactPerson.customerid}" />
							</h:link>
			
		</h:form>
	</div>


</h:body>
</html>
