<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:s="http://xmlns.jcp.org/jsf/core">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>Customer Detail</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">Customer Detail Heading</div>
		</div>

		<h:form id="MyForm">
			<table class="table table-bordered ">
				<tr>
					<td width="150" valign="top">Id:</td>

					<td valign="bottom"><h:outputLabel id="Id">#{customerController.customer.customerID}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">First Name:</td>

					<td valign="bottom"><h:outputLabel id="firstname">#{customerController.customer.firstName}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">Last Name:</td>

					<td valign="bottom"><h:outputLabel id="lastname">#{customerController.customer.lastName}</h:outputLabel>
					</td>
				</tr>
				<tr>
                        <td width ="100" valign="top">Address:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Address" >#{customerController.customer.address}</h:outputLabel>    
                        </td>
                    </tr>
			</table>

			<table class="table table-bordered table-striped">
			
				<tr>
					<td><h:outputLabel id="contactId" value="Id" /></td>
					<td><h:outputLabel id="contactname" value="Contact Name" /></td>
					<td><h:outputLabel id="contactphone" value="Contact phone" /></td>
				</tr>

				<ui:repeat id="Myrepeat"
					value="#{customerController.customer.contacts}" var="contact"
					varStatus="status">

					<tr>
						<td><h:outputText value="#{contact.conactPersonId}"
								id="customerID" /></td>

						<td><h:outputText id="contactName" value="#{contact.name}" />
						</td>
						
						<td><h:outputText id="phoneNumber"
								value="#{contact.phoneNumber}"></h:outputText></td>
								
						<td>
						
						<h:link value="View | " outcome="faces/contactDetail.xhtml">
                              <f:param name="customerID"
							value="#{customerController.customer.customerID}" />
                                <f:param name="contactIndex" value="#{contact.conactPersonId}"/>
                        </h:link>
						
						
						
						</td>
						
					</tr>
				</ui:repeat>
			</table>
			
					
			<h:commandButton value="Add New Contact Person"
						action="addContactPerson" class="btn btn-primary">
						<f:param name="customerIndex"
							value="#{customerController.customer.customerID}" />
						<f:param name="customerID"
							value="#{customerController.customer.customerID}" />
					</h:commandButton>
		
		
                    
					
			<h:link id="close" value="Close" outcome="faces/index.xhtml"
				class="btn btn-primary" />

			
		</h:form>
	</div>


</h:body>
</html>
