<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle} Edit Customer</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit Contact
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{contactController.contact.conactPersonId}</h:outputLabel>    
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <td width ="100" valign="top">Contact Phone: </td>
                       
                        <td valign="bottom">
                            <h:inputText id = "contactPhone" value="#{contactController.contact.phoneNumber}" binding="#{contactPhone}" required="true"
                                         validatorMessage="Please enter a valid contact phone number."
                                         requiredMessage="Please enter a contact phone number. "></h:inputText>    
                        </td>
                    </tr>
                    

                </table>

                <h:commandButton id="save" value="Save" action="#{contactManagedBean.editContact(contactController.contact)}"  class="btn btn-primary" >
                    <f:param name="contactIndex" value="#{customer.customerID}"/>
                </h:commandButton>
                <h:commandButton id="Close" value="Close" action="detail.xhtml" class="btn btn-primary" >
                    <f:param name="contactIndex" value="#{customer.customerID}"/>
                </h:commandButton> 
            </h:form>
        </div>
    </h:body>
</html>

