<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle} Edit Customer</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit Customer
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerID}</h:outputLabel>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">First Name: </td>
                       <!--  the value below is for display  -->
                        <td valign="bottom">
                            <h:inputText id = "firstName" value="#{customerController.customer.firstName}" binding="#{firstName}" required="true"
                                         validatorMessage="Please enter a valid first name."
                                         requiredMessage="Please enter the first name. "></h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Last Name: </td>
                       <!--  the value below is for display  -->
                        <td valign="bottom">
                            <h:inputText id = "lastName" value="#{customerController.customer.lastName}" binding="#{lastName}" required="true"
                                         validatorMessage="Please enter a valid last name."
                                         requiredMessage="Please enter the last name. "></h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Street number: </td>
                       <!--  the value below is for display  -->
                        <td valign="bottom">
                            <h:inputText id = "streetNumber" value="#{customerController.customer.address.streetNumber}" binding="#{streetNumber}" required="true"
                                         validatorMessage="Please enter a valid street number."
                                         requiredMessage="Please enter an street number. "></h:inputText>    
                        </td>
                    </tr>
                    
                    
                   

                </table>

                <h:commandButton id="save" value="Save" action="#{customerManagedBean.editCustomer(customerController.customer)}"  class="btn btn-primary" >
                    <f:param name="customerIndex" value="#{customerController.customerIndex + 1}"/>
                </h:commandButton>
                <h:commandButton id="Close" value="Close" action="index.xhtml" class="btn btn-primary" >
                    <f:param name="customerIndex" value="#{customerController.customerIndex + 1}"/>
                </h:commandButton> 
            </h:form>
        </div>
    </h:body>
</html>

