<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
      <h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>AUS Printings</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">Customer List</div>
		</div>

		<h:form id="MyForm">
			<table class="table table-bordered table-striped">
				<!-- For each customer in customers ArrayList... -->
				<tr>
					<td><h:outputLabel id="Id" value="Id" /></td>
					<td><h:outputLabel id="FirstName" value="FirstName" /></td>

					<td><h:outputLabel id="LastName" value="LastName" /></td>
					
					<td><h:outputLabel id="Address" value="Address" /></td>
                                

				</tr>

				<ui:repeat id="Myrepeat" value="#{ausApplication.customers}"
					var="customer" varStatus="status">

					<tr>
						<td><h:outputText
								value="#{ausApplication.customers.get(status.index).customerID}"
								id="customerID" />
						</td>

						<td><h:outputText id="firstName"
								value="#{ausApplication.customers.get(status.index).firstName}" />
						</td>
						
						<td><h:outputText id="lastName"
								value="#{ausApplication.customers.get(status.index).lastName}"></h:outputText>
						</td>
						
						<td><h:outputText id="outAddress"
								value="#{ausApplication.customers.get(status.index).address}"></h:outputText>
						</td>
						
						<td>
						<h:link value="View | " outcome="faces/detail.xhtml">
                              
                                <f:param name="customerIndex" value="#{customer.customerID}"/>
                        </h:link>
                        
                        <h:link value="Edit | " outcome="faces/edit.xhtml">
                              
                                <f:param name="customerIndex" value="#{customer.customerID}"/>
                              </h:link>

                                <h:commandLink value="Delete" action="#{removeCustomer.removeCustomer(ausApplication.customers.get(status.index).customerID)}" disabled="#{ausApplication.customers.get(status.index).customerID == null}">
                                </h:commandLink>

                                <h:outputText value=" "/>
                        
                        
						</td>
					</tr>
				</ui:repeat>
			</table>
			
			<div>
                    <h:commandButton id="add" value="Add" action="add.xhtml" class="btn btn-primary" />

                    <h:commandButton id="viewAll" value="View All" action="#{searchCustomer.searchAll()}" class="btn btn-primary" >
                        
                    </h:commandButton>
            </div>
            <div>
                    <h:inputText value="#{searchCustomer.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   />
                    <h:commandButton id="searchId" value="Search by Id" action="#{searchCustomer.searchCustomerById(searchCustomer.searchByInt)}" class="btn btn-primary" >
                        
                    </h:commandButton>
                </div>

			
			
			
		</h:form>
	</div>
</h:body>

</html>