<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="5042Assignment">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="5042Assignment-ejb.jar" deploy-path="/" handle="module:/resource/5042Assignment-ejb/5042Assignment-ejb">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="5042Assignment-common.jar" deploy-path="/lib" handle="module:/resource/5042Assignment-common/5042Assignment-common">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="5042Assignment-war.war" deploy-path="/" handle="module:/resource/5042Assignment-war/5042Assignment-war">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
