<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="AUSPrintings">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="AUSPrintings-common.jar" deploy-path="/lib" handle="module:/resource/AUSPrintings-common/AUSPrintings-common">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="AUSPrintings-ejb.jar" deploy-path="/" handle="module:/resource/AUSPrintings-ejb/AUSPrintings-ejb">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="AUSPrintings-war.war" deploy-path="/" handle="module:/resource/AUSPrintings-war/AUSPrintings-war">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
